*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f6f8f9;
    font-family:Arial, Helvetica, sans-serif
}

header {
    background-color: #fff;
    height: 80px;
}

#logo {
    height: 60px;
    margin-bottom: -10px;
}
#header-title {
    display: inline-block;
    font-size: 4rem;
}